@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Work+Sans&display=swap');
html, body {
  height: 100%;
}

h1 {
  font-family: 'Karla', sans-serif;
}
h2 {
  font-family: 'Work Sans', sans-serif;
  margin-left: 20px;
}
p{
  color: #4FD0FF;
  font-family: 'Work Sans', serif;
}


.column {
 min-width: 300px;
 display: inline-block;
 vertical-align: top;
}
h4, h3{
font-family: 'Karla', sans-serif;
}
img{
    width: 50px;
}

body {
  margin: 0;
  position: relative;
  height: 100vh;
}

.blue {
  background: #4FD0FF;
  flex-grow: 1;
}
.blue:hover {
  background: lightblue;
  color: #B33B00;
}
.yellow {
  background: yellow;
}
.yellow:hover {
  background: #FFFF99;
}
